p{
    color:blueviolet;
    font-family:sans-serif;
}

body{
    background-color: rgb(244, 200, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

*{

    padding: 50;
}

.imagem {
    display: flex;
    flex-direction: row;
}

footer{
    background-color:honeydew;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_direita{
    background-color: red;
    min-height: 200px;
    width: 50px;
    float: right;

}

#div_esquerda{
    background-color: yellow;
    min-height: 200px;
    width: 50px;
    float: left;
}

.container{
    width: 960px;
    margin: auto;
    
}