:root{
    --rosa-escuro: #fd17a5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
}

header .logo {
    margin-left: 5px;
    color: var(--rosa-escuro);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

header nav a:hover {
    color: var(--rosa-escuro);
}

.filme-principal{
    font-size: 16px;
    background: url('../img/capa-vivo.jpg'), linear-gradient(rgba(0,0,0, .50), rgba(0,0,0, .50)100%);
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 50px;
    font-family: 'Arial', times, serif;

}

.botao {
    background-color: rgba(0,0,0, .50);
    color: white;
    border: none;
    padding: 15px 80px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black
}

.botao i {
    margin-right: 8px;
}

.titulo-melhor{
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: white; text-shadow: var(--rosa-escuro) 0.1em 0.1em 0.2em;
    font-family: 'Fredoka One', cursive;
}

.container {
    margin-left: 20px;
    margin-right: 10px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;

}

.carrocel-filmes {
    margin-top: 5px;
}

.busca {
    background-color: rgb(245, 201, 232);
    border:solid 1px;
    border-radius:5px;
    width:1100px;
    height: 40px;
    font-size: 18px;
    margin-left: 50px;
    padding: 20px;
      
}

.botao-busca{
    background-color: var(--rosa-escuro);
    padding-left:5px;
    font-size:18px;
    border:solid 1px;
    border-radius: 5px;
    width:150px;
    height:40px;
    
}

footer {
    text-align: center;
    background-color: var(--rosa-escuro);
    padding: 20px 10px;
    margin-top: 30px;
}

.copyright { 
    color: #FFFFFF;
    font-size: 20px;
    margin: 5px 0 0;
}