@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
        justify-self: start;
    }

    .botao{
        margin-top: 5px;
        width: 320px;
    }

    .botao-busca{
        width: 485px;
    }

}

@media screen and (min-width: 1000px) {
    .descricao{
        width: 50%;
         font-size: 20px;
    } 
}